.form {
    //   margin-top: 2px;
    //   position: absolute;
    right: 0px;
    background-color: $colorWhite;
    min-width: 570px;
    min-height: 511px;
    @include ColumnCenter(20px);
    padding: 30px 47px 78px 62px;
    z-index: 100;

    &__title {
        color: $colorOrange;
        font-weight: 600;
        font-size: 48px;
        line-height: 252%;
    }

    &__input_box {
        display: flex;
        flex-direction: column;
    }

    &__label {
        color: $colorOrange;
        font-weight: 400;
        font-size: 32px;
    }

    &__input {
        width: 475px;
        border: 1px solid $colorBlack;
        border-radius: 5px;
        min-height: 58px;
        font-weight: 400;
        font-size: 26px;
        color: $colorOrange;
        padding-top: 19px;
        padding-left: 14px;
        padding-bottom: 17px;
    }

    &__input_hasError {
        outline: 1px solid #D43C34;
    }

    &__input:focus {
        outline: 1px solid $colorBlack;
    }

    &__input::placeholder {
        color: $colorOrange;
    }

    &__error_message {
        color: #D43C34;
    }

    &__button {
        width: 30%;
        min-height: 71px;
        background-color: $colorOrange;
        border-radius: 5px;
        font-weight: 400;
        font-size: 24px;
        text-align: center;
        color: $colorWhite;
        border: none;
    }
}
