@import "../scss/vars";
@import "../scss/mixin";
@import "../scss/_fonts.scss";
@import "../scss/section-1";
@import "../scss/section-2";
@import "../scss/section-3";
@import "../scss/section-4";
@import "../scss/section-5";
@import "../scss/section-11";
@import "../scss/section-6";
@import "../scss/section-7";
@import "../scss/section-8";
@import "../scss/section-9";
@import "../scss/section-10";
@import "../scss/section-11";
@import "../scss/section-12";
@import "../scss/common-styles";
@import "../scss/header-footer";
@import "../scss/form";

* {
  margin: 0;
  padding: 0;
  //   font-family: $fontFamilyMain;
  //   color: $colorWhite;
  box-sizing: border-box;
}
html {
  background-color: $colorMain;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
li {
  list-style-type: none;
}

.center {
  padding-left: calc(50% - $siteWidth / 2);
  padding-right: calc(50% - $siteWidth / 2);
}
.centerMax {
  padding-left: calc(50% - $siteWidthMax / 2);
  padding-right: calc(50% - $siteWidthMax / 2);
}

// @media (max-width: 1200px) {
//   .center {
//     padding-left: calc(50% - $siteWidthTable / 2);
//     padding-right: calc(50% - $siteWidthTable / 2);
//   }
// }
// @media (max-width: 767px) {
//   .center {
//     padding-left: calc(50% - $siteWidthMobileBig / 2);
//     padding-right: calc(50% - $siteWidthMobileBig / 2);
//   }
// }
// @media (max-width: 450px) {
//   .center {
//     padding-left: calc(50% - $siteWidthMobile / 2);
//     padding-right: calc(50% - $siteWidthMobile / 2);
//   }
// }
