.section-two {
  margin-top: 366px;
  padding-top: 107px;
  padding-bottom: 70px;
  background-color: $colorWhite;
  &__wrapper {
    @include lineLeftCenter(10px);
    margin-bottom: 27px;
  }
  &__subtitle {
    font-weight: 400;
    font-size: 25px;
    color: $colorGreen;
  }
  &__title {
    font-weight: 400;
    font-size: 44px;
    line-height: 136%;
    color: $colorGreen;
  }
  &__span {
    color: $colorOrange;
  }
  &__container {
    @include Flex(122px);
  }
  &__inner {
    position: relative;
  }

  &__bus {
    width: 709px;
    height: 568px;
    background-image: url(../img/section-2_bus.webp);
    border-radius: 0 0 0 100px;
    z-index: 3;
    position: relative;
    @include Picture;
  }
  &__ornament {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
    background-image: url(../img/section-2_ornament.webp);
    width: 397px;
    height: 440px;
    position: absolute;
    right: -81px;
    bottom: -70px;
    z-index: 1;
    @include Picture;
  }
  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: $colorGreen;
    margin-bottom: 20px;
  }
  &__hr {
    @include Hr;
    width: 235px;
    margin-bottom: 104px;
  }
  &__elephant {
    @include Picture;
    background-image: url(../img/section-2_elephant.webp);
    width: 248px;
    height: 288px;
    border-radius: 100px 0 0 0;
    position: absolute;
    right: 0;
  }
}
