@import "../scss/vars";
@import "../scss/mixin";
// @import "../scss/index";
@import "../scss/header-footer";

* {
  margin: 0;
  padding: 0;
  //   font-family: $fontFamilyMain;
  //   color: $colorWhite;
  box-sizing: border-box;
}
html {
  background-color: $colorMain;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
li {
  list-style-type: none;
}

.center {
  padding-left: calc(50% - $siteWidth / 2);
  padding-right: calc(50% - $siteWidth / 2);
}

@media (max-width: 1200px) {
  .center {
    padding-left: calc(50% - $siteWidthTable / 2);
    padding-right: calc(50% - $siteWidthTable / 2);
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - $siteWidthMobileBig / 2);
    padding-right: calc(50% - $siteWidthMobileBig / 2);
  }
}
@media (max-width: 450px) {
  .center {
    padding-left: calc(50% - $siteWidthMobile / 2);
    padding-right: calc(50% - $siteWidthMobile / 2);
  }
}
