.section-four {
  background-color: $colorWhite;
  padding-top: 107px;
  padding-bottom: 104px;
  &__title {
    font-weight: 400;
    font-size: 44px;
    line-height: 136%;
    color: $colorGreen;
    margin-bottom: 44px;
  }
  &__span {
    color: $colorOrange;
  }
  &__wrapper {
    position: relative;
  }
  &__desert {
    background-image: url(../img/section-4_desert.webp);
    @include Picture;
    border-radius: 0 200px 0 0;
    width: 100%;
    height: 568px;
    position: relative;
    z-index: 2;
  }
  &__ornament {
    background-image: url(../img/section-4_ornament.webp);
    @include Picture;
    position: absolute;
    width: 334px;
    height: 340px;
    top: 0;
    right: -141px;
    z-index: 1;
  }
  &__inner {
    @include lineSpaceBetween(0);
  }
  &__subtitle {
    font-weight: 400;
    font-size: 30px;
    color: $colorGreen;
    margin-bottom: 7px;
  }
  &__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: $colorGreen;
  }
  &__price {
    font-weight: 400;
    font-size: 49px;
    // text-align: right;
    color: $colorOrange;
  }
}
