.section-three {
  padding-top: 99px;
  padding-bottom: 36px;

  background-color: $colorWhite;

  &__contain {
    padding-top: 73px;
    @include ColumnLeft(81px);
  }
  &__wrapper {
    @include Flex(81px);
    border-top: 1px solid $colorGreen;
    width: 100%;
    padding-top: 39px;
  }
  &__inner {
    @include Flex(20px);
  }

  &__number {
    font-weight: 400;
    font-size: 100px;
    line-height: 60%;
    color: $colorOrange;
  }
  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: $colorGreen;
  }
}
