@import "_vars.scss";

@font-face {
    font-family: $titleFontFamily;
    src: url('../fonts/Aboreto/Aboreto-Regular.ttf') format("ttf");
}
@font-face {
    font-family: $textFontFamily;
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format("ttf");
}
