.form {
  //   margin-top: 2px;
  //   position: absolute;
  right: 0px;
  background-color: $colorWhite;
  min-width: 570px;
  min-height: 511px;
  @include ColumnCenter(20px);
  padding: 30px 47px 78px 62px;
  z-index: 100;
  &__title {
    color: $colorOrange;
    font-weight: 600;
    font-size: 48px;
    line-height: 252%;
  }
  &__input {
    width: 100%;
    border: 1px solid $colorBlack;
    border-radius: 5px;
    min-height: 58px;
    font-weight: 400;
    font-size: 30px;
    color: $colorOrange;
    padding-top: 19px;
    padding-left: 60px;
    padding-bottom: 17px;
  }
  &__input::placeholder {
    color: $colorOrange;
    opacity: 60%;
  }
  &__button {
    width: 30%;
    min-height: 71px;
    background-color: $colorOrange;
    border-radius: 5px;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: $colorWhite;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  &__button:hover {
    background-color: $colorWhite;
    color: $colorGreen;
    border: 1px solid $colorGreen;
  }
}

@media (max-width: 1550px) {
  .form {
    &__title {
      font-size: 40px;
    }
    &__input {
      font-size: 20px;
      padding-top: 17px;
      padding-left: 30px;
      padding-bottom: 17px;
    }
  }
}

@media (max-width: 835px) {
  .form {
    min-width: 270px;
    min-height: 211px;
    &__title {
      font-size: 30px;
    }
    &__input {
      font-size: 15px;
      padding-top: 10px;
      padding-left: 30px;
      padding-bottom: 10px;
    }
    &__button {
      font-size: 16px;
      min-height: 50px;
    }
  }
}
