.header {
  &__wrapper {
    padding-top: 46px;
    @include lineSpaceBetween(0);
    position: relative;
  }
  &-right__menu {
    @include lineSpaceBetween(53px);
  }
  &__menu {
    color: $colorTextMain;
    font-weight: 400;
    font-size: 20px;
  }
  &__menu:hover {
    color: $colorOrange;
    text-decoration: underline;
    text-underline-offset: 10px;
  }
  &__dropdown {
    position: relative;
  }
  &__button {
    border: 1px solid $colorWhite;
    padding: 20px 30px;
    background-color: $colorMain;
    font-weight: 400;
    font-size: 20px;
    color: $colorTextMain;
    cursor: pointer;
  }
  &__button:hover {
    @include PointingAtTHEButton($colorOrange);
  }
  &__button:active {
    outline: none;
    background-color: $colorOrange;
  }
}

.form {
  margin-top: 2px;
  position: absolute;
  right: 0px;
  background-color: $colorWhite;
  min-width: 570px;
  min-height: 511px;
  @include ColumnLeft(20px);
  padding: 30px 47px 78px 62px;
  z-index: 100;
  &__title {
    color: $colorOrange;
    font-weight: 600;
    font-size: 25px;
    line-height: 252%;
  }
  &__input {
    width: 100%;
    border: 1px solid $colorBlack;
    border-radius: 5px;
    min-height: 58px;
    font-weight: 400;
    font-size: 16px;
    color: $colorOrange;
    padding-top: 19px;
    padding-left: 14px;
    padding-bottom: 17px;
  }
  &__input::placeholder {
    color: $colorOrange;
  }
  &__button {
    width: 100%;
    min-height: 71px;
    background-color: $colorOrange;
    border-radius: 5px;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: $colorWhite;
    border: none;
  }
}

.show {
  display: block;
}

.footer {
  padding-top: 75px;
  padding-bottom: 69px;
  &__up {
    @include lineLeftUp(198px);
    margin-bottom: 88px;
  }
  &__link {
    @include lineLeftUp(95px);
  }
  &__column {
    @include ColumnLeft(12px);
  }
  &__title {
    font-weight: 400;
    font-size: 25px;
    color: $colorWhite;
  }
  &__down {
    margin-bottom: 32px;
    @include lineLeftCenter(16px);
  }
  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 222%;
    color: $colorWhite;
    opacity: 0.5;
  }
}
