@import "_vars.scss";
@import "_mixin.scss";

.section-seven {
  padding-top: 120px;
  padding-bottom: 150px;
  display: flex;
  justify-content: center;

  &__mainbox {
    position: relative;
    width: 1100px;
    height: 590px;
  }

  &__whitebox {
    position: absolute;
    background: $colorWhite;
    width: 1115px;
    height: 527px;
    padding: 70px;
  }

  &__text-box {
    @include Flex(0);
  }

  &__subtitle {
    margin-bottom: 32px;
    font-family: $titleFontFamily;
  }

  &__ornamentwrap {
    position: absolute;
    left: -140px;
    top: -135px;
    display: grid;
    grid-template-columns: 276px 194px;
  }

  &__ornament-one {
    @include Picture();
    width: 100%;
    height: 100%;
  }

  &__ornament-two {
    position: absolute;
    @include Picture();
    width: 100%;
    height: 100%;
    left: 258px;
  }

  &__ornament-three {
    @include Picture();
    width: 100%;
    height: 100%;
    position: absolute;
    top: 306px;
  }

  &__ornament-four {
    @include Picture();
    width: 109px;
    height: 409px;
    position: absolute;
    top: 0px;
    right: 0px;
  }

  &__elephant {
    @include Picture();
    position: absolute;
    right: -204px;
    bottom: 0px;
  }

  &__span {
    color: $colorOrange;
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: $colorGreen;
    margin-bottom: 49px;
    font-family: $textFontFamily;
  }

  a {
    border: 1px solid $colorGreen;
    padding: 20px 30px;
    background-color: $colorWhite;
    font-weight: 400;
    font-size: 20px;
    color: $colorGreen;
    cursor: pointer;
  }

  a:hover {
    outline: none;
    background-color: $colorOrange;
    color: $colorWhite;
    border: 1px solid $colorWhite;
  }

  a:active {
    outline: none;
    background-color: $colorOrange;
    color: $colorWhite;
    border: 1px solid $colorWhite;
  }

  &__hr {
    @include Hr;
    width: 176px;
    margin-left: 20px;
    margin-top: 12px;
  }
}

@media (max-width: 1550px) {
  .section-seven {
    padding-bottom: 100px;
    &__text {
      font-size: 16px;
      margin-bottom: 40px;
    }
    &__hr {
      @include Hr;
      width: 120px;
    }
    &__ornamentwrap {
      left: -60px;
      top: -80px;
    }
    &__elephant {
      @include Picture();
      position: absolute;
      right: -80px;
      max-width: 400px;
      max-height: 400px;
      bottom: 0px;
    }
  }
}
@media (max-width: 767px) {
  .section-seven {
    padding-top: 90px;

    padding-bottom: 100px;
    &__whitebox {
      position: absolute;
      background: $colorWhite;
      width: 100%;
      height: 580px;
      // padding: 70px;
    }
    &__text {
      font-size: 16px;
      margin-bottom: 40px;
    }
    &__hr {
      @include Hr;
      width: 120px;
    }
    &__ornament-four {
      display: none;
    }
    &__ornamentwrap {
      // display: none;
      left: -30px;
      top: -50px;
    }
    &__elephant {
      display: none;
    }
    a {
      padding: 10px 20px;
      font-size: 15px;
    }
  }
}
