.section-twelve {
  background-color: $colorWhite;
  padding-top: 152px;
  padding-bottom: 325px;

  &__box {
    @include Flex(124px);
  }
  &__left {
    @include ColumnLeft(0);
  }
  &__title {
    font-weight: 400;
    font-size: 44px;
    line-height: 136%;
    color: $colorGreen;
    margin-bottom: 31px;
    min-width: 520px;
  }
  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: #5e675d;
    margin-bottom: 28px;
    width: 80%;
  }
  &__button {
    margin-bottom: 108px;
    border: 1px solid $colorGreen;
    padding: 20px 30px;
    background-color: $colorWhite;
    height: 63px;
    font-weight: 400;
    font-size: 20px;
    color: $colorGreen;
    cursor: pointer;
  }
  &__button:hover {
    @include PointingAtTHEButton($colorOrange);
    color: $colorWhite;
  }
  &__img-sun {
    border-radius: 0 0 0 70px;
  }
  &__right {
    position: relative;
    width: 60%;
  }
  &__img-elephant {
    position: absolute;
    top: -50px;
    right: -20px;
    z-index: 2;
  }
  &__img-ornament {
    position: absolute;
    right: -95px;
    bottom: -142px;
    z-index: 1;
  }
}
@media (max-width: 1550px) {
  .section-twelve {
    padding-top: 132px;
    padding-bottom: 125px;
    &__title {
      font-size: 40px;
      margin-bottom: 25px;
      // min-width: 520px;
    }
    &__text {
      font-size: 16px;
      color: $colorGreen;
    }
    &__button {
      margin-bottom: 58px;
    }
    &__img-elephant {
      max-width: 570px;
      max-height: 470px;
      top: -50px;
      right: 20px;
    }
    &__img-ornament {
      max-width: 350px;
      max-height: 350px;
      right: -55px;
      bottom: -62px;
    }
  }
}
