@import "_vars.scss";
@import "_mixin.scss";

.section-ten {
  padding-top: 120px;
  padding-bottom: 150px;

  &__gallery {
    @include Flex(35px);
  }

  &__subtitle {
    font-weight: 400;
    font-size: 30px;
    color: $colorGreen;
    margin-bottom: 7px;
  }

  &__img-box:hover .section-ten__hr {
    width: 446px;
    transition: width 1.5s ease, margin-left 0.5s ease;
  }

  &__img-box:active .section-ten__hr {
    width: 446px;
  }

  &__img {
    max-width: 446px;
    max-height: 562px;
  }

  &__img-subtitle-box {
    @include Flex(15px);
    flex-direction: column;
  }

  &__img-subtitle {
    font-weight: 400;
    font-size: 35px;
    color: $colorWhite;
  }

  &__small-text {
    font-size: 18px;
    color: $colorBeige;
    font-family: $textFontFamily;
    line-height: 30px;
  }

  &__hr {
    @include Hr;
    width: 48px;
  }
}

@media (max-width: 1550px) {
  .section-ten {
    padding-top: 90px;
    padding-bottom: 100px;
    &__gallery {
      @include Flex(25px);
    }
    &__img {
      max-width: 366px;
      max-height: 502px;
    }
    &__hr {
      @include Hr;
      width: 48px;
    }
    &__img-subtitle {
      font-size: 30px;
    }
    &__small-text {
      font-size: 16px;
    }
    &__img-box:hover .section-ten__hr {
      width: 330px;
    }

    &__img-box:active .section-ten__hr {
      width: 330px;
    }
  }
}
