@import "_vars.scss";
@import "_mixin.scss";

.section-nine {
  background-color: $colorWhite;
  padding-top: 50px;
  padding-bottom: 150px;
  display: flex;
  justify-content: center;

  &__mainbox {
    position: relative;
    width: 1100px;
    height: 590px;
  }

  &__orangebox {
    position: absolute;
    background: $colorOrange;
    width: 1115px;
    height: 527px;
    padding: 70px;
  }

  &__text-box {
    @include Flex(0);
  }

  &__subtitle {
    margin-bottom: 32px;
    font-family: $titleFontFamily;
    color: $colorWhite;
  }

  &__ornament-one {
    @include Picture();
    width: 100%;
    height: 100%;
    position: absolute;
    left: -140px;
    top: 0px;
  }

  &__ornament-two {
    @include Picture();
    width: 294px;
    height: 340px;
    position: absolute;
    top: 0px;
    right: -60px;
  }

  &__bus {
    @include Picture();
    position: absolute;
    right: -204px;
    bottom: -45px;
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: $colorWhite;
    margin-bottom: 49px;
  }

  a {
    border: 1px solid $colorWhite;
    padding: 20px 30px;
    background-color: $colorOrange;
    font-weight: 400;
    font-size: 20px;
    color: $colorWhite;
    cursor: pointer;
  }

  a:hover {
    outline: none;
    background-color: $colorWhite;
    color: $colorOrange;
    border: 1px solid $colorOrange;
    transition: all 0.5s ease;
  }

  a:active {
    outline: none;
    background-color: $colorWhite;
    color: $colorOrange;
    border: 1px solid $colorOrange;
  }
}
