.section-eleven {
  background-color: $colorWhite;
  @include ColumnLeft(0);
  padding-top: 107px;
  padding-bottom: 10px;
  transition: all 0.5 ease;

  &__ul {
    width: 100%;
    padding-top: 50px;
  }

  &__li {
    padding: 46px 0px 55px 2px;
    width: 100%;
    border-bottom: 1px solid $colorGreen;
  }
  &__li-one {
    border-top: 1px solid $colorGreen;
  }
  &__wrap {
    @include lineSpaceBetween(0px);
  }
  &__circle {
    min-width: 47px;
    min-height: 47px;
    border: 1px solid $colorOrange;
    border-radius: 100%;
    cursor: pointer;
    background-color: $colorWhite;
  }
  &__hr {
    border-color: $colorOrange;
    width: 50%;
  }
  &__hr-one {
    position: relative;
    top: 1px;
    left: 11px;
  }
  &__hr-two {
    position: relative;
    top: 1px;
    left: 11px;
    transform: rotateZ(90deg);
  }
  &__title {
    font-weight: 400;
    font-size: 70px;
    line-height: 86%;
    color: $colorGreen;
  }
  &__text {
    padding-top: 30px;
    font-weight: 400;
    font-size: 25px;
    line-height: 167%;
    color: $colorGreen;
    width: 70%;
  }
}
@media (max-width: 1550px) {
  .section-eleven {
    &__ul {
      padding-top: 30px;
    }
    &__li {
      padding: 30px 0px 40px 2px;
    }
    &__title {
      font-size: 60px;
    }
    &__text {
      padding-top: 20px;
      font-size: 20px;
    }
  }
}
@media (max-width: 1024px) {
  .section-eleven {
    &__ul {
      padding-top: 10px;
    }
    &__li {
      padding: 10px 0px 10px 2px;
    }
    &__title {
      font-size: 30px;
    }
    &__text {
      padding-top: 10px;
      font-size: 14px;
    }
    &__circle {
      min-width: 37px;
      min-height: 37px;
    }
    &__hr-one {
      position: relative;
      top: 1px;
      left: 9px;
    }
    &__hr-two {
      position: relative;
      top: -1px;
      left: 9px;
      transform: rotateZ(90deg);
    }
  }
}
