@import "_vars.scss";
@import "_mixin.scss";

.section-nine {
  background-color: $colorWhite;
  padding-top: 50px;
  padding-bottom: 150px;
  display: flex;
  justify-content: center;

  &__mainbox {
    position: relative;
    width: 1100px;
    height: 590px;
  }

  &__orangebox {
    position: absolute;
    background: $colorOrange;
    width: 1115px;
    height: 527px;
    padding: 70px;
  }

  &__text-box {
    @include Flex(0);
  }

  &__subtitle {
    margin-bottom: 32px;
    font-family: $titleFontFamily;
    color: $colorWhite;
  }

  &__ornament-one {
    @include Picture();
    width: 100%;
    height: 100%;
    position: absolute;
    left: -140px;
    top: 0px;
  }

  &__ornament-two {
    @include Picture();
    width: 294px;
    height: 340px;
    position: absolute;
    top: 0px;
    right: -60px;
  }

  &__bus {
    @include Picture();
    position: absolute;
    right: -204px;
    bottom: -45px;
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: $colorWhite;
    margin-bottom: 49px;
  }

  a {
    border: 1px solid $colorWhite;
    padding: 20px 30px;
    background-color: $colorOrange;
    font-weight: 400;
    font-size: 20px;
    color: $colorWhite;
    cursor: pointer;
  }

  a:hover {
    outline: none;
    background-color: $colorWhite;
    color: $colorOrange;
    border: 1px solid $colorOrange;
    transition: all 0.5s ease;
  }

  a:active {
    outline: none;
    background-color: $colorWhite;
    color: $colorOrange;
    border: 1px solid $colorOrange;
  }
}

@media (max-width: 1550px) {
  .section-nine {
    padding-bottom: 100px;

    &__text {
      font-size: 16px;
    }

    &__bus {
      right: -104px;
      bottom: -25px;
      max-width: 420px;
      max-height: 420px;
    }
    &__ornament-one {
      left: -90px;
      top: 0px;
    }
  }
}

@media (max-width: 1024px) {
  .section-nine {
    padding-bottom: 0px;

    &__text {
      font-size: 14px;
    }

    &__bus {
      display: none;
    }
    &__ornament-one {
      left: -50px;
      top: 0px;
    }
    &__orangebox {
      width: 100%;
      // height: 100%;
    }
    &__ornament-two {
      display: none;
    }
    a {
      padding: 10px 20px;
      font-size: 15px;
    }
  }
}
@media (max-width: 835px) {
  .section-nine {
    padding-bottom: 0px;

    &__text {
      font-size: 11px;
    }

    &__bus {
      display: none;
    }
    &__ornament-one {
      display: none;
    }

    a {
      padding: 8px 18px;
      font-size: 13px;
    }
  }
}
