.section-two {
  margin-top: 366px;
  padding-top: 107px;
  padding-bottom: 70px;
  background-color: $colorWhite;
  &__wrapper {
    @include lineLeftCenter(10px);
    margin-bottom: 27px;
  }
  &__subtitle {
    font-weight: 400;
    font-size: 25px;
    color: $colorGreen;
  }
  &__title {
    font-weight: 400;
    font-size: 44px;
    line-height: 136%;
    color: $colorGreen;
    margin-bottom: 25px;
  }
  &__span {
    color: $colorOrange;
  }
  &__container {
    @include Flex(122px);
  }
  &__inner {
    position: relative;
  }

  &__bus {
    width: 709px;
    height: 568px;
    background-image: url(../img/section-2_bus.webp);
    border-radius: 0 0 0 100px;
    z-index: 3;
    position: relative;
    @include Picture;
  }
  &__ornament {
    background-image: url(../img/section-2_ornament.webp);
    width: 397px;
    height: 440px;
    position: absolute;
    right: -81px;
    bottom: -70px;
    z-index: 1;
    @include Picture;
  }
  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: $colorGreen;
    margin-bottom: 20px;
  }
  &__hr {
    @include Hr;
    width: 235px;
    margin-bottom: 104px;
  }
  &__elephant {
    @include Picture;
    background-image: url(../img/section-2_elephant.webp);
    width: 248px;
    height: 288px;
    border-radius: 100px 0 0 0;
    position: absolute;
    right: 0;
  }
}
@media (max-width: 1550px) {
  .section-two {
    &__title {
      font-size: 40px;
    }
    &__bus {
      width: 600px;
      height: 400px;
    }
    &__ornament {
      width: 270px;
      height: 270px;
      right: -11px;
      bottom: -40px;
    }
    &__text {
      font-size: 16px;
      margin-bottom: 18px;
    }
    &__container {
      @include Flex(50px);
    }
    &__hr {
      margin-bottom: 40px;
    }
    &__elephant {
      width: 200px;
      height: 228px;
    }
  }
}

@media (max-width: 1024px) {
  .section-two {
    margin-top: 366px;
    padding-top: 50px;
    padding-bottom: 20px;
    &__container {
      @include ColumnLeftReverse(20px);
    }
    &__title {
      font-size: 27px;
    }
    &__text {
      font-size: 14px;
    }
    &__bus {
      width: 410px;
      height: 320px;
    }
    &__elephant {
      display: none;
    }
    &__ornament {
      display: none;
    }
    &__hr {
      width: 135px;
      margin-bottom: 20px;
    }
  }
}
@media (max-width: 835px) {
  .section-two {
    margin-top: 140px;
    &__container {
      @include ColumnLeftReverse(20px);
    }
    &__title {
      font-size: 23px;
      width: 90%;
    }
    &__text {
      font-size: 11px;
    }
    &__bus {
      width: 250px;
      height: 180px;
    }
    &__elephant {
      display: none;
    }
    &__ornament {
      display: none;
    }
    &__hr {
      width: 135px;
      margin-bottom: 20px;
    }
  }
}
