@import "_vars.scss";
@import "_mixin.scss";

.section-eight {
  background-color: $colorWhite;
  padding-top: 120px;
  padding-bottom: 150px;

  &__gallery {
    @include Flex(35px);
  }

  &__subtitle {
    font-weight: 400;
    font-size: 30px;
    color: $colorGreen;
    margin-bottom: 7px;
  }

  &__img-box {
    padding-bottom: 15px;
    border-bottom: 2px solid $colorWhite;
  }

  &__img-box:hover {
    border-bottom: 2px solid $colorOrange;
  }

  &__img-box:active {
    border-bottom: 2px solid $colorOrange;
  }

  &__img {
    max-width: 446px;
    max-height: 562px;
  }

  &__img-subtitle-box {
    @include Flex(15px);
    position: relative;
  }

  &__img-subtitle {
    font-weight: 400;
    font-size: 35px;
    color: $colorGreen;
  }

  &__img-subtitle-cost {
    font-weight: 400;
    font-size: 35px;
    color: $colorOrange;
    position: absolute;
    right: 0px;
  }

  &__small-text {
    font-size: 24px;
    color: $colorGreen;
  }
}

@media (max-width: 1550px) {
  .section-eight {
    padding-bottom: 70px;

    &__img {
      max-width: 350px;
      max-height: 500px;
    }
    &__img-subtitle {
      font-size: 25px;
    }
    &__img-subtitle-cost {
      font-size: 29px;
    }

    &__small-text {
      font-size: 20px;
      color: $colorGreen;
    }
  }
}

@media (max-width: 1024px) {
  .section-eight {
    padding-top: 40px;
    padding-bottom: 40px;
    &__gallery {
      @include ColumnCenter(35px);
    }
    &__img {
      // max-width: 350px;
      max-width: 100%;
      max-height: 450px;
    }
    &__img-subtitle {
      font-size: 20px;
    }
    &__img-subtitle-cost {
      font-size: 25px;
    }

    &__small-text {
      font-size: 14px;
      color: $colorGreen;
    }
  }
}
@media (max-width: 835px) {
  .section-eight {
    &__gallery {
      @include ColumnCenter(20px);
    }

    &__img-subtitle-cost {
      font-size: 23px;
    }

    &__small-text {
      font-size: 11px;
    }
  }
}
