.section-five {
  padding-top: 105px;
  padding-bottom: 10px;

  &__subtitle {
    margin-bottom: 32px;
    font-family: $titleFontFamily;
  }

  &__title {
    font-family: $titleFontFamily;
    font-weight: 400;
    font-size: 44px;
    line-height: 136%;
    color: $colorWhite;
    margin-bottom: 44px;
  }

  &__box {
    @include Flex(96px);
  }

  &__hr {
    @include Hr;
    width: 210px;
    margin-bottom: 40px;
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: $colorWhite;
    margin-bottom: 49px;
  }
  &__button-main {
    padding: 20px 30px;
    background-color: $colorMain;
    font-weight: 400;
    font-size: 20px;
    color: $colorWhite;
    height: 63px;
    border: 1px solid $colorWhite;
    cursor: pointer;
  }
  &__button-main:hover {
    @include PointingAtTHEButton($colorOrange);
  }
  &__wrapper-left {
    width: 35%;
  }
  &__wrapper-right {
    width: 65%;
    // height: 500px;
    position: relative;
  }
  &__picture {
    position: relative;
    margin-bottom: 10px;
    height: 100px;
  }

  // &__slider {
  //   @include Picture();
  //   width: 822px;
  //   height: 493px;
  //   background-image: url(../img/section-5__lion.webp);
  //   border-radius: 150px 0 0 0;
  //   position: relative;
  //   z-index: 2;
  // }

  // &__ornament {
  //   @include Picture();
  //   background-image: url(../img/section-5_ornament.webp);
  //   width: 606px;
  //   height: 345px;
  //   position: absolute;
  //   bottom: 0;
  //   right: -149px;
  //   z-index: 1;
  // }

  // &__button-box {
  //   width: 100%;
  //   @include Flex(30px);
  // }

  // &__button {
  //   min-width: 141px;
  //   font-weight: 400;
  //   font-size: 20px;
  //   line-height: 136%;
  //   color: $colorTextMain;
  //   background-color: $colorMain;
  //   border: none;
  //   border-bottom: 2px solid $colorGreen;
  //   padding-bottom: 7px;
  //   @include lineLeftUp(0);
  //   cursor: pointer;
  // }
  // &__button:hover {
  //   border-bottom: 2px solid $colorWhite;
  //   transition: border-bottom 0.5s ease, margin-left 0.5s ease;
  // }

  &__slider {
    // position: relative;
    // width: 822px;
    height: 493px;
    margin: auto;
    // background: #cccccc;
    // border: 1px solid #88886f;
    overflow: hidden;
    border-radius: 150px 0 0 0;
  }
  &__slider-img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: 0.5s;
    transform: rotateY(90deg);
  }
  &__slider-img img {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 150px 0 0 0;
  }

  // &__prev,
  // &__next {
  //   width: 10%;
  //   height: 100%;
  //   position: absolute;
  //   background: #cccccc;
  //   opacity: 0.4;
  //   cursor: pointer;
  // }
  &__prev {
    left: 0;
  }
  &__next {
    right: 0;
  }

  &__counter {
    width: 100%;
    height: 30px;
    z-index: 55;
    position: absolute;
    bottom: -50px;
    text-align: center;
  }
  &__count {
    min-width: 143px;
    height: 30px;
    // background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    // border-radius: 10px;
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
    line-height: 136%;
    color: $colorWhite;
    text-align: left;
    transition: all 1.5s ease, margin-left 0.5s ease;
  }
  &__count:hover {
    border-bottom: 1px solid $colorWhite;
  }
}
input[type="radio"] {
  display: none;
}

#img1:checked ~ #one,
#img2:checked ~ #two,
#img3:checked ~ #three,
#img4:checked ~ #four,
#img5:checked ~ #five {
  z-index: 6;
  opacity: 1;
  transform: rotateY(0deg);
}
#img1:checked ~ .section-five__counter #count1,
#img2:checked ~ .section-five__counter #count2,
#img3:checked ~ .section-five__counter #count3,
#img4:checked ~ .section-five__counter #count4,
#img5:checked ~ .section-five__counter #count5 {
  // background: #ffffff;
  border-bottom: 1px solid $colorWhite;
}
@media (max-width: 1550px) {
  .section-five {
    padding-bottom: 60px;
    &__title {
      font-size: 35px;
      margin-bottom: 35px;
    }
    &__text {
      font-size: 16px;
    }
    &__hr {
      margin-bottom: 35px;
    }
    &__slider {
      max-height: 360px;
    }
    &__slider-img {
      max-height: 350px;
    }
    &__count {
      min-width: 110px;
      font-size: 18px;
    }
  }
}
@media (max-width: 767px) {
  .section-five {
    padding-top: 50px;

    padding-bottom: 60px;
    &__box {
      @include ColumnLeft(56px);
    }
    &__wrapper-left {
      width: 100%;
    }
    &__wrapper-right {
      width: 100%;
    }
    &__hr {
      width: 135px;
    }
    &__title {
      font-size: 27px;
      margin-bottom: 30px;
    }
    &__text {
      font-size: 14px;
    }
    &__hr {
      margin-bottom: 30px;
    }
    &__slider {
      max-height: 260px;
    }
    &__slider-img {
      max-height: 350px;
    }
    &__count {
      min-width: 75px;
      font-size: 15px;
    }
    &__button-main {
      padding: 10px 20px;
      font-size: 15px;
    }
  }
}
