.section-three {
  padding-top: 99px;
  padding-bottom: 36px;

  background-color: $colorWhite;

  &__contain {
    padding-top: 73px;
    @include ColumnLeft(81px);
  }
  &__wrapper {
    @include Flex(81px);
    border-top: 1px solid $colorGreen;
    width: 100%;
    padding-top: 39px;
  }
  &__inner {
    @include Flex(20px);
  }

  &__number {
    font-weight: 400;
    font-size: 100px;
    line-height: 60%;
    color: $colorOrange;
  }
  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: $colorGreen;
  }
}

@media (max-width: 1550px) {
  .section-three {
    padding-bottom: 16px;
    &__number {
      font-size: 80px;
    }
    &__text {
      font-size: 16px;
    }
    &__contain {
      padding-top: 33px;
      @include ColumnLeft(51px);
    }
  }
}

@media (max-width: 767px) {
  .section-three {
    padding-top: 40px;

    padding-bottom: 10px;
    &__number {
      font-size: 50px;
    }
    &__text {
      font-size: 14px;
    }
    &__contain {
      padding-top: 23px;
      @include ColumnLeft(31px);
    }
  }
}
