@import "_vars.scss";
@import "_mixin.scss";

.section-six {
  padding-top: 105px;
  padding-bottom: 10px;

  &__subtitle {
    margin-bottom: 32px;
    font-family: $titleFontFamily;
  }

  .subtitle__text {
    color: $colorGreen;
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: $colorWhite;
    margin-bottom: 49px;
  }

  &__box {
    @include Flex(177px);
  }

  &__textbox {
    margin-left: 210px;
  }

  &__hr {
    @include Hr;
    width: 235px;
    margin-bottom: 40px;
  }
}

@media (max-width: 1550px) {
  .section-six {
    &__text {
      font-size: 16px;
      margin-bottom: 49px;
    }
    &__box {
      @include Flex(100px);
    }
    &__hr {
      @include Hr;
      width: 180px;
      margin-bottom: 35px;
    }
  }
}
@media (max-width: 1024px) {
  .section-six {
    padding-top: 50px;

    &__text {
      font-size: 14px;
      margin-bottom: 19px;
    }
    &__box {
      @include ColumnLeft(10px);
    }
    &__hr {
      width: 135px;
      margin-bottom: 35px;
    }
    &__textbox {
      margin-left: 210px;
    }
    &__textbox {
      margin-left: 0px;
    }
  }
}
