.section-four {
  background-color: $colorWhite;
  padding-top: 107px;
  padding-bottom: 104px;
  &__title {
    font-weight: 400;
    font-size: 44px;
    line-height: 136%;
    color: $colorGreen;
    margin-bottom: 44px;
  }
  &__span {
    color: $colorOrange;
  }
  &__wrapper {
    position: relative;
  }
  &__desert {
    background-image: url(../img/section-4_desert.webp);
    @include Picture;
    border-radius: 0 200px 0 0;
    width: 100%;
    height: 568px;
    position: relative;
    z-index: 2;
  }
  &__ornament {
    background-image: url(../img/section-4_ornament.webp);
    @include Picture;
    position: absolute;
    width: 304px;
    height: 340px;
    top: 0;
    right: -101px;
    z-index: 1;
  }
  &__inner {
    @include lineSpaceBetween(0);
  }
  &__subtitle {
    font-weight: 400;
    font-size: 30px;
    color: $colorGreen;
    margin-bottom: 7px;
  }
  &__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: $colorGreen;
  }
  &__price {
    font-weight: 400;
    font-size: 49px;
    // text-align: right;
    color: $colorOrange;
  }
}

@media (max-width: 1024px) {
  .section-four {
    padding-top: 107px;
    padding-bottom: 50px;
    &__title {
      font-size: 40px;
    }
    &__desert {
      width: 100%;
      height: 450px;
    }
    &__ornament {
      width: 280px;
      height: 300px;
      top: 0;
      right: -100px;
    }
    &__subtitle {
      font-size: 25px;
      margin-bottom: 5px;
    }
    &__price {
      font-size: 40px;
    }
  }
}

@media (max-width: 835px) {
  .section-four {
    padding-top: 57px;
    padding-bottom: 50px;
    &__title {
      font-size: 23px;
      margin-bottom: 24px;
    }
    &__desert {
      width: 100%;
      height: 150px;
    }
    &__ornament {
      display: none;
    }
    &__subtitle {
      font-size: 15px;
      margin-bottom: 5px;
    }
    &__description {
      font-size: 11px;
    }
    &__price {
      font-size: 25px;
    }
  }
}
